[submodule "external/cxxopts"]
	path = external/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "external/catch2"]
	path = external/catch2
	url = https://github.com/catchorg/Catch2
[submodule "external/atsc_test_data"]
	path = external/atsc_test_data
	url = https://github.com/philburr/atsc_test_data.git
